$grey-color: #404040;
$text-color: #707070;
$text-color-light: #d5d5d5;
$light-grey: #f1f1f1;
$background-color: #f6f7f8;
$background-color-section: rgba(#000, .03);
$background-color-dark: #272727;
$white: #fff;
$blue: #4c98c9;
$footer-color: #232323;
$footer-text-color: #aaa;
