%container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $indent;
}
%section-indent {
    padding: ($indent * 6)  0;
}
%position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
