<li class="about-item">
    <input type="checkbox" id="@@id" class="about-item__checkbox">
    <label for="@@id" class="about-item__label">
        <span class="about-item__title">
            @@title
        </span>
    </label>
    <i class="about-item__nav-icon">
        @@include('../includes/down-icon.html',{
        "color": "#404040"
        })
    </i>
    <div class="about-item__content-wrap">
        <p class="about-item__content text">
            @@text
        </p>
    </div>
</li>
