<figure class="comment-item">
    <div class="comment-item__wrap">
        <blockquote class="comment-item__quote">
            @@quote
        </blockquote>
    </div>
    <figcaption class="comment-item__user-wrap">
        <img src="./images/users/@@user.jpg" alt="@@user" class="comment-item__img">
        <div class="comment-item__user-info headline">
            @@name
            <cite class="comment-item__position text">
                @@position
            </cite>
        </div>
    </figcaption>
</figure>
