<section class="awesomeness">
    <div class="awesomeness__wrap">
        <figure class="awesomeness__figure">
            <img src="./images/tablet.png" alt="tablet" class="awesomeness__image">
        </figure>
        <div class="awesomeness__content-wrap">
            <h1 class="awesomeness__title">
                Crea;tink Brings<br/>
                Awesomeness
            </h1>
            <p class="awesomeness__content">
                Multipurpose template with clean<br/>
                and professional design
            </p>
                @@include('../controls/button.html', {
                "text": "Get in Touch",
                "class": "awesomeness__button",
                "type": "main"
                }
                )
        </div>
    </div>
</section>
