<section class="build">
    <div class="build__wrap">
        <h2 class="title">Build your professional website</h2>
        <h3 class="subtitle">Create a unique website easily with the help of tons of features</h3>
        <ul class="build__list">
            @@loop('../includes/build-item.html',
            [
                {
                "type":"pixel",
                "headline": "Pixel-Perfect Code",
                "text": "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam."
                },
                {
                "type":"search",
                "headline": "SEO-Friendly",
                "text": "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam."
                },
                {
                "type":"paint-palette",
                "headline": "Color Palettes",
                "text": "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam."
                },
                {
                "type":"support",
                "headline": "Free Support & Updates",
                "text": "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam."
                }
            ]
            )
        </ul>
    </div>
</section>
