<div class="carousel">
    <div class="carousel__wrap">
        <ul class="carousel__list">
            @@loop('../includes/carousel-item.html',[
                {
                    "type": "ebpaint"
                },
                {
                    "type": "eepsake"
                },
                {
                    "type": "kubb"
                },
                {
                    "type": "kwoon"
                },
                {
                    "type": "lydia"
                },
                {
                    "type": "malory"
                },
                {
                    "type": "morello"
                },
            ]
            )
        </ul>
    </div>
</div>
