<section class="features">
    <div class="features__wrap">
        <h2 class="title">Key Features of Crea;tink</h2>
        <h3 class="subtitle">We bring rapid solutions to your business</h3>
        <div class="features__content">
            <figure class="features__figure">
                <img src="./images/mac.png" alt="mac" class="features__img">
            </figure>
            <ul class="features__list">
                @@loop('../includes/features-item.html',
                [
                {
                "type":"clean",
                "headline": "Clean & Professional Design",
                "text": "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis."
                },
                {
                "type":"clipboard",
                "headline": "Extensive Documentation",
                "text": "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis."
                },
                {
                "type":"browser",
                "headline": "Responsive Layout",
                "text": "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis."
                }
                ]
                )
            </ul>
        </div>
    </div>
</section>
