.icon {
    $icon-type: (
        'lock',
        'clock'
    );

    @include background;
    @include size(24px);
    display: block;
    @each $type in $icon-type {
        &--#{$type} {
            background-image: url('../images/sprite/sprite.svg##{$type}');
        }
    }
}
